PORT=3000
DATABASE_URL=mongodb+srv://Jackson:tykndjcksn8Q74@cluster0.9qsxgal.mongodb.net/community-serviceDb
RANDOM_STRING_LENGTH=

# email service
SMTP_HOST=
SMTP_HOST_PORT=
SMTP_GMAIL_SENDER_EMAIL=
NODEMAILER_EMAIL= 
NODEMAILER_PASSWORD=